baseurl: '/'
permalink: pretty
title: 'Film SF Alliance'

logo:
  mobile: "assets/img/logo-shapes.svg"
  mobile_height: "50px"
  mobile_width: "50px"
  desktop: "assets/img/logo-text.svg"
  desktop_height: "30px"
  desktop_width: "150px"

home: 
  limit_services: 6

collections:
  services:
    output: true
    sort_by: weight
  team:
    output: true

defaults:
  - scope:
      path: ""
      type: "services"
    values:
      layout: "service"
  - scope:
      path: ""
      type: "team"
    values:
      layout: "team"

sass:
  style: compressed # possible values: nested expanded compact compressed
