---
layout: default
bodyClass: "page-teams"
---

<div class="container pt-6 pb-6">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                {{content}}
            </div>
        </div>
    </div>
    <div class="row">
        {% assign board = site.team | where: "board", true | sort: "weight" %}
        <br />
        <h2>Board of directors</h2>
        <br />
        {% for team in board %}
        <div class="col-12 col-md-6 mb-2">
            <div class="team team-summary team-summary-large">
                {% if team.image %}
                <div class="team-image">
                    <img width="90" height="90" alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta">
                    <h2 class="team-name">{{ team.title }}</h2>
                    <p class="team-description">{{ team.jobtitle }}</p>
                    {% if team.linkedinurl %}
                    <a target="_blank" href="{{ team.linkedinurl }}" rel="noreferrer">LinkedIn</a>
                    {% endif %}
                </div>
                <div class="team-content">{{ team.content }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row pt-6 pb-6">
        {% assign teams = site.team | where: "board", false | sort: "weight" %}
        <h2>Advisors</h2>
        {% for team in teams %}
        <div class="col-12 col-md-4 mb-3">
            <div class="team team-summary">
                <div class="team-image">
                    <img width="60" height="60" alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                </div>
                <div class="team-meta">
                    <h2 class="team-name">{{ team.title }}</h2>
                    {% if team.jobtitle %}<p class="team-description">{{ team.jobtitle }}</p>{% endif %}
                    {% if team.linkedinurl %}
                    <a target="_blank" href="{{ team.linkedinurl }}" rel="noreferrer">LinkedIn</a>
                    {% endif %}
                </div>
                <div class="team-content">{{ team.content }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
